.card{
    background-color: #FFFFFF ;
    color: grey;
    display: flex;
    flex-direction: column;
    border-radius: 0.75rem;
    border: 1px solid rebeccapurple;
}
.card-header{
    display: grid;
    grid-auto-rows: min-content;
    grid-template-rows: auto auto;
    align-items: start;
    gap: 0.375rem;
    padding: 0;
}

.card-content{
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.card-footer{
    display: flex;
    align-items: center;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-bottom: 1.5rem;
}