.card{
    background-color: #FFFFFF ;
    display: flex;
    flex-direction: column;
    border-radius: 0.75rem;
    border: 1px solid #6B7280;
}
.card-header{
    display: grid;
    grid-auto-rows: min-content;
    grid-template-rows: auto auto;
    /*align-items: start;*/
    gap: 0.375rem;
    padding: 0;
}

.card-title {
  font-size: inherit; 
  font-weight: inherit;
  line-height: 1;
  letter-spacing: -0.025em;
}

.card-description {
  font-size: 0.875rem;
  color: #6b7280; 
  line-height: 1.25rem;
}

.card-content{
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.card-footer{
    display: flex;
    align-items: center;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-bottom: 1.5rem;
}