#root {
  width: 100%;
}

* {
  box-sizing: border-box;
  
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #F8F9FA;
}

.padding-0{
  padding: 0;
}

.searchBar{
  display: flex;
  flex-direction: column;
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
  padding: 1.5rem 1rem;
}

main {
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
  padding: 0 1rem;
}

.card-img{
  width: 100%; 
  height: 12rem; 
  object-fit: cover; 
  border-radius: 0.5rem 0.5rem 0 0; 
}


.container-grid {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: 1fr;
}

.card-content-p{
  color: #4b5563; 
  font-size: 0.875rem; 
  margin-bottom: 0.75rem; 

  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.5; /* altura da linha para melhor espaçamento */
}

.card-user-info {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
}
.card-footer {
  padding: 1rem; 
  padding-top: 0; 
}

.height-6 {
  height: 1.5rem;
}

.width-6 {
  width: 1.5rem;
}

.text-sm {
  font-size: 0.875rem;
}

.rating {
  color: #ca8a04; 
}
.color-gray{
  color: #6b7280;
}
@media (min-width: 768px) {
  .container-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .container-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}