.w-full {
  width: 100%;
}

.grid {
  display: grid;
}

.mb-6 {
  margin-bottom: 1.5rem;
}

.grid-cols-3 {
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.margin0 {
  margin: 0;
}

.mb-4 {
  margin-bottom: 1rem
}

.flex {
  display: flex;
}

.items-start {
  align-items: flex-start;
}

.justify-between {
  justify-content: space-between;
}

.p-4 {
  padding: 1rem;
}

.mb-1 {
  margin-bottom: 0.25rem;
}

.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.text-gray-600 {
  color: #4b5563;
}

.items-center {
  align-items: center;
}

.gap-3 {
  gap: 0.75rem;
}

.mb-3 {
  margin-bottom: 0.75rem;
}

.h-8 {
  height: 2rem;
}

.w-8 {
  width: 2rem;
}

.space-y-2 {
  margin-top: 0.5rem;
}

.bg-green-50 {
  background-color: #f0fdf4;
}

.border {
  border-width: 1px;
  border-style: solid;
}

.border-green-200 {
  border-color: #bbf7d0;
}

.rounded {
  border-radius: 0.25rem;
}

.p-3 {
  padding: 0.75rem;
}

.text-green-800 {
  color: #166534;
}

.p-8 {
  padding: 2rem;
}

.text-center {
  text-align: center;
}

.text-gray-500 {
  color: #6B7280;
}

.bg-green-600 {
  background-color: #16a34a;
}

.h-3 {
  height: 0.75rem;
}

.w-3 {
  width: 0.75rem;
}

.mr-1 {
  margin-right: 0.25rem;
}

.h-24 {
  height: 8rem;
}

.w-24 {
  width: 8rem;
}

.rounded-lg {
  border-radius: 0.5rem;
}

.overflow-hidden {
  overflow: hidden;
}

.bg-gray-100 {
  background-color: #f3f4f6;
}

.flex-shrink-0 {
  flex-shrink: 0;
}

.w-full {
  width: 100%;
}

.h-full {
  height: 100%;
}

.object-fill {
  object-fit: fill;
}

.object-cover{
  object-fit: cover;
}

.ml-4-responsive {
  margin-left: 1rem;
}

.pl-1-responsive {
  padding-left: 0.5rem;
}

.y {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.flex-col {
  flex-direction: column;
}

.pt-4 {
  padding-top: 1.5rem;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  font-size: inherit;
  font-weight: inherit;
}

.min-w-0 {
  min-width: 0;
}

.flex-1 {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0%;
  min-width: 0;
}

.flex-col-md {
  display: flex;
  flex-direction: row;
  min-width: 0; 
  flex: 1; 
}

.mt-3{
  margin-top: 0.75rem;
}

.flex-end{
  display: flex;
  width: auto;
  justify-content: end;
}

.visible-mobile{
    display: none;
  }

  .max-w-lg{
    max-width: 32rem;
  }

  .space-y-3 > * + * {
  margin-top: 0.75rem; 
}

.p-2{
  padding: 0.5rem;
}

.preview-imagem-item {
  width: 5rem;    
  height: 5rem;     
  border-radius: 0.375rem; 
  object-fit: cover; 
  border: 1px solid #e5e7eb; 
}

@media (max-width: 480px) {
  .flex-col-md {
    flex-direction: column;
  }

  .ml-4-responsive {
    margin-left: 0;
  }

  .pl-1-responsive {
    padding-left: 0;
  }

  .truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 167px;
    font-size: inherit;
    font-weight: inherit;
  }

  .visible-desktop{
    display: none;
  }

  .visible-mobile{
    display: flex;
  }


}