.body-reviewScreen {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #E8F5E9;
}

.bg-light-green {
    background-color: #E8F5E9;
}

.main-reviewScreen {
    width: 100%;
    align-items: center;
    display: flex;
}

.center {
    max-width: 56rem;
    padding: 1.5rem 1rem;
    width: 100%;
    margin: 0 auto;
}

.center > *:not(:first-child) {
  margin-top: 1.5rem; 
}

.card-reviewScreen {
    width: 100%;
    max-width: 56rem;
    padding-bottom: 1.5rem;
    padding-top: 1.5rem;
}

.p-6 {
    padding: 1.5rem;
}

.flex {
    display: flex;
}

.flex-col-md-row {
    flex-direction: column;
    align-items: center;
}

.gap-6 {
    gap: 1.5rem;
}

.h-24 {
    height: 6rem;
}

.w-24 {
    width: 6rem;
}

.text-2xl {
    font-size: 1.5rem;
    line-height: 2rem;
}

.text-xl {
    font-size: 1.25rem;
    line-height: 1.75rem;
}

.mb-2 {
    margin-bottom: 0.5rem !important;
}

.flex-1 {
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0%;
}

.responsive-text-align {
    text-align: center;
}

.responsive-text-justify {
    display: flex;
    justify-content: flex-start;
}

.items-center {
    align-items: center;
}

.gap-2 {
    gap: 0.5rem;
}

.mb-3 {
    margin-bottom: 0.75rem;
}

.text-sm {
    font-size: 0.875rem;
    line-height: 1.25rem;
}

.mb-4 {
    margin-bottom: 1rem
}

.gap-1 {
    gap: 0.25rem;
}

.h-4 {
    height: 1rem;
}

.w-4 {
    width: 1rem;
}

.grid {
    display: grid;
}

.grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
}

.gap-4 {
    gap: 1rem;
}

.text-center {
    text-align: center;
}

.p-3 {
    padding: 0.75rem;
}

.rounded-lg {
    border-radius: 0.5rem;
}

.btn-responsive-width {
    display: inline-flex;
    width: auto !important;
    max-width: fit-content !important;  /* 🔥 resolve 99% desses casos */
}



.mr-2 {
    margin-right: 0.5rem;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.margin0 {
    margin: 0;
}

.star-text-yellow-500 {
    height: 1rem;
    width: 1rem;
    fill: rgb(250, 204, 21);
    color: rgb(250, 204, 21);
}

.h-5 {
    height: 1.25rem
}

.w-5 {
    width: 1.25rem;
}

.space-y-3 > * + * {
    margin-top: 0.75rem;
}

.gap-3 {
  gap: 0.75rem; 
}

.w-12 {
  width: 3rem; 
}

.w-8 {
  width: 2rem; 
}

.space-y-4 > * + * {
  margin-top: 1rem; 
}

.justify-between {
  justify-content: space-between;
}

.h-8 {
  height: 2rem; 
}

.w-8 {
  width: 2rem;
}

.text-gray-700 {
  color: #374151;
}

.text-xs {
  font-size: 0.75rem; 
  line-height: 1rem; 
}

.text-gray-500 {
  color: #6B7280;
}

.font-size-inherit{
    font-size: inherit;
}
.font-weight-inherit{
    font-weight: inherit;
}

.p-1 {
  padding: 0.25rem;
}

.bg-transparent{
    background-color: transparent;
}

.dropdown-menu {
    position: absolute;       /* flutua em relação ao container */
    right: 20%;                 /* alinha à direita do botão */
    top: 0%;                /* posiciona logo abaixo do botão */
    margin-top: 0.5rem;       /* espaçamento */
    width: 8rem;
    background-color: #fff;
    border: 1px solid #e5e7eb;
    border-radius: 0.50rem;
    z-index: 50;
}

.dropdown-menu2 {
    position: absolute;       /* flutua em relação ao container */
    right: 0%;                 /* alinha à direita do botão */
    bottom: 0%;               /* posiciona logo abaixo do botão */
    margin-top: 0.5rem;       /* espaçamento */
    width: 16rem;
    background-color: #fff;
    border: 1px solid #e5e7eb;
    border-radius: 0.50rem;
    z-index: 50;
}

.dropdown {
    position: relative; /* referência para o dropdown absoluto */
    display: inline-block; 
}

.dropdown-item {
    display: block;
    width: 100%;
    padding: 0.25rem;
    text-align: center;
    background: none;
    cursor: pointer;
    transition: background-color 0.2s;
}


@media (min-width: 768px) {
    .flex-col-md-row {
        flex-direction: row;
        align-items: flex-start;
    }

    .responsive-text-align {
        text-align: left;
    }

    .responsive-text-justify {
        display: flex;
        justify-content: center;
    }

}

@media (max-width: 768px)  {
    .btn-responsive-width {
         max-width: 100% !important; 
        width: 100% !important;
        display: block;
    }
}
